@import url('https://fonts.googleapis.com/css?family=Reem+Kufi:100,200,300,400,500,600,700');

/* --------------------------------------Header */

header {
    margin: 0;
}

/* --------------------------------------Navbar */

.fixed-top{
    background-color: rgba(102, 102, 102, 0.7);
}

.navbar {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    background-color: transparent;
    margin-right: 5px;
}

.navbar-toggler {
    background: #e8e5e5;
    border: none;
}


.list-inline span {
    color: #e8e5e5;
    font-family: "Reem Kufi", sans-serif;
    font-size: 18px;
    margin-left: 3em;
    font-weight: 100;
}

.navbar-toggler-icon {
    color: yellow;
}


/* --------------------------------------Background picture */

.callout-container {
    height: 80vh;

    background: url("../images/monkees.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
    align-items: center;
    text-align: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

/* --------------------------------------News section */

.information {
    background-color: #292727;
    padding-top: 20px;
}

.news-section {
    background-color: #292727;

}

.news-heading {
    color: #e8e5e5;
    text-align: center;
    font-family: "Reem kufi";
    font-size: 36px;
    padding-top: 20px;
}


.news-teext {
    color: #e8e5e5;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}


/* --------------------------------------Together callout */

.together {
    font-family: "Reem Kufi", sans-serif;
    font-size: 40px;
    color: #e8e5e5;
    position: relative;
    text-align: center;
    
    margin-left: 5%;
}

.the-monkees{
    padding-bottom: 5px;
    padding-top: 7em;
    
}


/* --------------------------------------Footer */

footer {

    background-color: #C5C3C3;
}


a:hover {
    text-decoration: none;
    color: red;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 12px 0;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.general-sub {
    text-align: center;
    padding-top: 10px;
}

.social-links {
    text-align: center;
}

/* --------------------------------------Break line */

.line {
    width: 50%;
    color: #bb6838;
    border-top: 3px solid;
    margin-bottom: 40px;
}

/* --------------------------------------Upcoming section */

.upcoming-heading {
    text-align: center;
    font-family: "Reem kufi";
    font-size: 36px;
    padding-top: 20px;
    color: #e8e5e5;
}

.btn-lg {
    color: #d4ffbf;
}

.btn--red {
    background-color: #bb6838;
    color: #e8e5e5;
}

.timeline-item {
    padding: 2em 2em 3em 2em;
    position: relative;
    color: #e8e5e5;
    text-align: center;
}



.modal-content {
    text-align: center;
}


/* --------------------------------------Contact page */

.bg-color-contact {
    background-color: #292727;
    padding-top: 5em;
    height: 90vh;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
    background-color: #c5c3c3;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 10px;
}


/* --------------Contact Form */

.contact-main{
    height: 90%;
}

.contact-heading {
    font-family: "reem kufi", sans-serif;
    font-weight: 300;
    margin-top: 15 px;
    margin-bottom: 20px;
    color: #e8e5e5;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type=submit] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #bb6838;
}


/* --------------------------------------media */

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        background-color: transparent;
    }
    
}


/*------------------------------------------------About page */

.band-members {
    color: #fafafa;
    text-align: center;
    
}

.img-circle {
    
    margin-bottom: 30px;
    border-radius: 50%;
}

.band-description {
    color: #f1f1f1;
    text-align: center;
    width: 80%;
}

.information-about {
    background-color: #292727;
    padding-top: 10em;
    padding-bottom: 10em;
}

.pictures {
    padding-left: 40%;
}

.band-pictures{
    display: block;
    
}

/*------------------------------------------------Music page */

.music-header {
    text-align: center;
    background-color: #292727;
    font-family: "reem kufi";
    color: #e8e5e5;
    padding-top: 10em;
    padding-bottom: 10em;
    
}


.music-style{
    text-align: center;
    padding-top: 2em;
}

/*------------------------------------------------Video page */

.watch-more{
    padding-top: 20px;    
    padding-bottom: 25px;
}

.music-youtube{
    color: #bb6838;
}

.video-page {
    text-align: center;
    background-color: #292727;
    font-family: "reem kufi";
    color: #e8e5e5;
    padding-top: 15em;
    padding-bottom: 20em;
    
}

